 @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;1,200&family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  font-family:'Plus Jakarta Sans',;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar_link{
  padding: 1rem;
  font-size: 1.2rem;
  margin: .4rem;
  transition: all .4s ease-in;
}

.navbar_link:hover{
  color:rgb(1, 138, 1);
}

.navBtn_left{
  margin-right: 1rem;
  border: 1px transparent;
  background-color: green;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.navBtn_right{
  margin-right: 1rem;
  border: 1px solid;
  background-color: transparent;
  color: green;
  border-color: green;
  padding: 1rem 2.6rem;
  border-radius: 5px;
}
